<!--templates/country_series.html-->
{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link href="/static/styles/country_series.css" rel="stylesheet">
<script src="/static/scripts/country_series.js"></script>
{% endblock %}

{% block content %}
{% if session['label']=="all" %}
<div class="country-series">​<a href="/series/country/all">ភាពយន្ត​គ្រប់​ប្រភេទ</a></div>
{% else %}
<div class="country-series">​<a href="/series/country/{{ data['series'][0][3] }}">{{ data['series'][0][3] }}</a></div>
{% endif %}
<div id='country-series'>
  {% for v in range(data['series']|length) %}
  <div class="series-wrapper">
    <a href="/series/{{ data['series'][v][0] }}"><img src="{{ data['thumbs'][v] }}" /></a>
    <a class="series-title" href="/series/{{ data['series'][v][0] }}">{{ data['series'][v][2] }}</a>
  </div>
  {% endfor %}
</div>
<div id="load-more" class="load-more region">
  <img onclick="country_series.load_items('/series/country/load/')" src="/static/images/arrow.png" />
</div>
{% endblock %}

{% block sidebar %}
<style>
  .img-outer{
    width:100%;
  }
  .img-outer img{
    width: 100%;
  }
  .img-outer img:hover{
    opacity:.7;
  }
  .img-outer div{
    position:relative;
    margin-bottom:10px;
  }
  .img-outer div:last-child{
    margin: 0;
  }
  .img-outer .star-name{
    display: block;
    position: absolute;
    top: 5px;
    right:5px;
    color: red;
    font: 14px/1.5 Oswald;
  }
  </style>
  
  <div class="img-outer">
  </div>
  
  <script>
  
  var starUrl = "https://script.google.com/macros/s/AKfycbzifjjj43uwlbd2IxkovhnUrz5nq17Xq9L5FAZkU40HpXzKa5M/exec?start=1325437200&end=1325439000&callback=setPicture&v=4";
  
  $.getScript(starUrl);
  
  function setThumb(postContent){
    var div = document.createElement( 'div' );
    div.innerHTML = postContent;
    var img = div.getElementsByTagName("img");
    
    if(img.length>=1) {
      return img[0].src;
    }
    else{
      return ("http://2.bp.blogspot.com/-5rrONZZDn8w/VK1uxQputqI/AAAAAAAAlWU/zUoYGbajcTw/s1600/picture.jpg");
    }  
  }
  
  function setPicture(postList){
  
    for(var i =0; i<postList.length; i++){
      var postContent = postList[i].content.text;
      var thumb = setThumb(postContent);
      var postTitle = postList[i].title.text;
      $(".img-outer").append('<div><a><img src="'+thumb+'" /></a><a class="star-name">'+postTitle+'</a></div>');
    }
  }
    
  </script>
{% endblock %}