<!--templates/index.html-->
{% extends "base.html" %}

{% block head %}
{{ super() }}
<link href="/static/styles/index.css" rel="stylesheet" >
<link href="/static/styles/movie.css" rel="stylesheet" >
<link href="/static/styles/series.css" rel="stylesheet" >
<script src="/static/scripts/index.js"></script>
<script src="/static/scripts/movie.js"></script>
<script src="/static/scripts/series.js"></script>
{% endblock %}

{% block channel %}
<div class="channel region">
  <div class="channel-outer">
    <iframe  src="https://www.youtube.com/embed/videoseries?list=UU7cyr5kbcN7jvG7No6lZ-wQ" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>

  <div class="channel-outer">
    <iframe  src="https://www.youtube.com/embed/videoseries?list=UU17iQotFFBVGmyYRiAv4SBA" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>

  <div class="channel-outer">
    <iframe  src="https://www.youtube.com/embed/videoseries?list=UUfBA9BJF8dC_y1waXl1onag" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>

  <div class="channel-outer">
    <iframe  src="https://www.youtube.com/embed/videoseries?list=UUHwYHdX37UUt6d9e1wAp9Bw" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>

  <a href="#"><img src="/static/images/horizontal-ad.png" /></a> 
  <a href="#"><img src="/static/images/horizontal-ad.png" /></a>
</div>
{% endblock %}

{% block content %}

<div id="video-wrapper" style="width:100%;"></div>
<script>movie.setVideo(`{{ data['movies'][0][1] }}`, `{{ data['movies'][0][2] }}`);</script> 

<div class="topnav " id="movie-menu">
  <a href="/movie/country/all">គ្រប់​ប្រភេទ</a>
  <a href="/movie/country/ភាពយន្ត​អន្តរជាតិ">ភាពយន្ត​អន្តរជាតិ</a>
  <a href="/movie/country/ភាពយន្ត​កូរ៉េ">ភាពយន្ត​កូរ៉េ</a>
  <a href="/movie/country/ភាពយន្តចិន">ភាពយន្ត​ចិន</a>
  <a href="/movie/country/ភាពយន្ត​ថៃ">ភាពយន្ត​ថៃ</a>
  <a href="/movie/country/ភាពយន្ត​ខ្មែរ">ភាពយន្ត​ខ្មែរ</a>
  <a href="javascript:void(0);" class="icon" onclick="mobileMenu('movie-menu')">
    <i class="fa fa-bars"></i>
  </a>
</div>

<div id='random-movies'>
  {% for v in range(1, data['movies']|length) %}
  <div class="movie-wrapper">
    <a href="/movie/{{ data['movies'][v][0] }}"><img src="{{ data['thumbs'][v] }}" /></a>
    <a class="movie-title" href="/movie/{{ data['movies'][v][0] }}">{{ data['movies'][v][3] }}</a>
  </div>
  {% endfor %}
</div>
{% if data['series']|length %}
<div id="series-wrapper" style="width:100%;margin-top:50px;"></div>
<script>
  $(document).ready(function(){
    series.setVideo(`{{ data['series'][0][1]|safe }}`);
    series.setEpisodes('{{ data["series"][0][1]|safe }}', '{{ data["series"][0][8]|safe }}');
  });
</script> 

<div class="topnav " id="series-menu">
  <a href="/series/country/all">គ្រប់​ប្រភេទ</a>
  <a href="/series/country/ភាពយន្ត​អន្តរជាតិ">ភាពយន្ត​អន្តរជាតិ</a>
  <a href="/series/country/ភាពយន្ត​កូរ៉េ">ភាពយន្ត​កូរ៉េ</a>
  <a href="/series/country/ភាពយន្តចិន">ភាពយន្ត​ចិន</a>
  <a href="/series/country/ភាពយន្ត​ថៃ">ភាពយន្ត​ថៃ</a>
  <a href="/series/country/ភាពយន្ត​ខ្មែរ">ភាពយន្ត​ខ្មែរ</a>
  <a href="javascript:void(0);" class="icon" onclick="mobileMenu('series-menu')">
    <i class="fa fa-bars"></i>
  </a>
</div>

<div id="episodes"></div>

<div id='random-series'>
  {% for v in range(1, data['series']|length) %}
  <div class="series-wrapper">
    <a href="/series/{{ data['series'][v][0] }}"><img src="{{ data['series-thumbs'][v] }}" /></a>
    <a class="series-title" href="/series/{{ data['series'][v][0] }}">{{ data['series'][v][2] }}</a>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}