<!--templates/index.html-->
{% extends "base.html" %}

{% block head %}
{{ super() }}
<link href="/static/styles/index.css" rel="stylesheet" >
<link href="/static/styles/movie.css" rel="stylesheet" >
<script src="/static/scripts/index.js"></script>
<script src="/static/scripts/movie.js"></script>
{% endblock %}

{% block channel %}
<div class="channel region">
  <div class="channel-outer">
    <iframe  src="https://www.youtube.com/embed/videoseries?list=UUHwYHdX37UUt6d9e1wAp9Bw" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>

  <div class="channel-outer">
    <iframe  src="https://www.youtube.com/embed/videoseries?list=UUC3kuksIZZQO6kVQlApEW1w" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>

  <div class="channel-outer">
    <iframe  src="https://www.youtube.com/embed/videoseries?list=UUd3Jmi0SGGG-NvcEOge6bxw" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>

  <div class="channel-outer">
    <iframe  src="https://www.youtube.com/embed/videoseries?list=UUGCeeEq-6y85svJ1atW5Bvw" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>

  <a href="#"><img src="/static/images/horizontal-ad.png" /></a> 
  <a href="#"><img src="/static/images/horizontal-ad.png" /></a>
</div>
{% endblock %}

{% block content %}

<div id="video-wrapper" style="width:100%;"></div>
<script>movie.setVideo(`{{ data['movies'][0][1] }}`, `{{ data['movies'][0][2] }}`);</script> 

<div id='random-movies'>
  {% for v in range(1, data['movies']|length) %}
  <div class="movie-wrapper">
    <a href="/movie/{{ data['movies'][v][0] }}"><img src="{{ data['thumbs'][v] }}" /></a>
    <a class="movie-title" href="/movie/{{ data['movies'][v][0] }}">{{ data['movies'][v][3] }}</a>
  </div>
  {% endfor %}
</div>
{% endblock %}