/*static/styles/base.css*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: orange;
}
a:hover{
  opacity: .7;
}
.region{
  max-width: 1200px;
  margin: 0 auto;
}
body{
  font: 14px/1.5 Vidaloka, OdorMeanChey;
  background: rgb(22, 22, 22);
  color: white;
}
#menu{
  background: rgb(48, 48, 48);
}
.menu-outer{
  display: grid;
  grid-template-columns: 25% auto 23%;
  align-items: center;
}
.menu-outer #logo{
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
  grid-gap: 5px;
  font: 26px/1.5 Oswald, Moul;
}
.menu-outer #logo img{
  width: 100%;
}
.menu-outer #search{
  text-align: right;
  display: grid;
  grid-template-columns: auto 25%;
  
}
.menu-outer #search input{
  font: 14px/1.5 Vidaloka, OdorMeanChey;
  padding: 0 5px;
  
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}
#movie-menu{
  background: black;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  font: 16px/1.5 Oswald, Bayon;
}
#movie-menu a{
  font: 16px/1.75 Vidaloka, OdorMeanChey;
}
/* Add an active class to highlight the current page */
.topnav a.active {
  color: orangered;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

#main{
  display: grid;
  grid-template-columns: 75% auto;
  grid-gap: 20px;
  margin-top: 30px;
}
#main #content, #main #sidebar{
  background: rgb(48, 48, 48);
  min-height: 400px;
}

#footer{
  text-align: center;
  margin: 30px auto;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
@media only screen and (max-width: 600px){
  .menu-outer{
    grid-template-columns: 100%;
    padding: 10px;
  }
  #main{
    grid-template-columns: 100%;
  }
}
